In [1]:
#Q1.Create one variable containing following type of data:

In [ ]:
My_string = "My name is Varad Joshi"

In [2]:
My_string

'My name is Varad Joshi'

In [3]:
type(My_string)

str

In [4]:
My_List = [1, 2, 3, 4, 5, "Varad" , "Darshan" , 12.43, 28.97, "Manish" , True]

In [5]:
My_List

[1, 2, 3, 4, 5, 'Varad', 'Darshan', 12.43, 28.97, 'Manish', True]

In [6]:
type(My_List)

list

In [7]:
My_Float = 65.677

In [8]:
My_Float

65.677

In [9]:
type(My_Float)

float

In [10]:
My_tuple = (34, 65, 90, 56)

In [11]:
My_tuple

(34, 65, 90, 56)

In [12]:
type(My_tuple)

tuple

In [13]:
#Q2.What will be the data type of the above given variable

In [14]:
var1 = ''

In [15]:
type(var1)

str

In [16]:
var2 = '[ DS , ML , Python]'

In [17]:
type(var2)

str

In [18]:
var3 = [ 'DS' , 'ML' , 'Python']

In [20]:
type(var3)

list

In [21]:
var4 = 1

In [22]:
type(var4)

int

In [23]:
#Q3. Explain the use of the following operators using an example:

In [24]:
#(i) / = The division operator
Basic = 10/2

In [25]:
Basic

5.0

In [26]:
#(ii) % = The modulo operator 
basic = 10 % 3

In [27]:
basic

1

In [28]:
#iii) // 
basic1 = 10 // 3

In [29]:
basic1

3

In [30]:
#iv) **
Basic1 = 10 ** 3

In [31]:
Basic1

1000

In [32]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type

In [35]:
my_list = [10, 20, 30, ('Varad', 'Darshan', 'Prasad'), {'name' : 'varad', 'age' : 21}, True, 54.23, 50.1234, False , 'manish']

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element).__name__}")

Element: 10, Data Type: int
Element: 20, Data Type: int
Element: 30, Data Type: int
Element: ('Varad', 'Darshan', 'Prasad'), Data Type: tuple
Element: {'name': 'varad', 'age': 21}, Data Type: dict
Element: True, Data Type: bool
Element: 54.23, Data Type: float
Element: 50.1234, Data Type: float
Element: False, Data Type: bool
Element: manish, Data Type: str

In [36]:
#Q5.Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible

In [37]:
A = int(input('Enter the number A:'))
B = int(input('Enter the number B:'))
count = 0

while A % B == 0 :
    A = A // B
    count += 1
if count > 0 :
    print(f"{A} is divisible by {B} and can be divided {count} times.")
else :
    print(f"{A} is not divisible by {B}.")

Enter the number A: 10
Enter the number B: 2

5 is divisible by 2 and can be divided 1 times.

In [38]:
#Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not

In [41]:
my_list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in my_list1 :
    if i % 3 == 0:
        print(f'{i} is divisible by 3.')
    else :
        print(f'{i} is not divisible by 3.')

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

In [42]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [43]:
#1.Mutable =
             #Mutable data types are those whose values can be modified or changed after they are created.

l = [1, 2, 3]

In [44]:
l.append(4)

In [45]:
l

[1, 2, 3, 4]

In [46]:
l[1] = 5

In [47]:
l

[1, 5, 3, 4]

In [48]:
#2.Immutable Data Types = 
                          #Immutable data types are those whose values cannot be changed after they are created.
v = 'Darshan'

In [51]:
v

'Darshan'